.markdowncomponents {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#2d3e45;
    font-size: large;
    margin-right: 5px;
}

.markdowncomponents > button {
    margin-top: 5px;
    width: 90%;
    background-color: #2d3e45;
    color: #EE933D;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.markdowncomponents > button:hover {
    background-color: #c8433f;
    color: #2d3e45 !important;
}

dialog {
    z-index: 3;
    background-color: #c8433f;
    border: none;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    display: flex;
    position: absolute;
    top: 25%;
}

.modalinput {
    padding: 5px;
    background-color: #e5ede6;
    color: #2d3e45;
    border-radius: 5px;
    border: solid #2d3e45;
    font-weight: 700;
}

.modalinput:focus {
    outline: none;
}

.modalbtn {
    margin-top: 5px;
    background-color: #2d3e45;
    color: #EE933D;
    padding: 8px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.modalbtn:hover {
    background-color: #EE933D;
    color: #2d3e45 !important;
}


.modalclose {
    background-color: transparent;
    color: #2d3e45;
    border: none;
    font-size: large;
}

.modalclose:hover {
    cursor: pointer;
    color: #EE933D;
}
