.textcontainer {
  display: flex;
  justify-content: center;
}

.markdowntext {
  width: 45%;
  height: 75vh;
  border-radius: 15px;
  background-color: rgba(214, 209, 209, 0.5);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(220, 215, 215, 0.803);
  box-shadow: 0 0 20px rgba(8,7,16,0.6);
  padding: 9px;
  font-size: 15px;
  resize: none;
}

.markdowntext:focus{
  outline: none;
}

.markdowntext::-webkit-scrollbar-track,
.markdown::-webkit-scrollbar-track
{
  border-radius: 20px;
  margin-top: 5px;
}

.markdowntext::-webkit-scrollbar,
.markdown::-webkit-scrollbar
{
  margin-top: 5px;
  border-radius: 20px;
  width: 10px;
}

.markdowntext::-webkit-scrollbar-thumb,
.markdown::-webkit-scrollbar-thumb
 {
  border-radius: 20px;
  background-color: #c8433f;
  background-image: -webkit-linear-gradient(45deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent)
}

.markdown {
  border: solid 1px #2d3e45;
  width: 45%;
  height: 75vh;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px;
  overflow-y: scroll;
}

.savebtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.savebtn > input {
  padding: 5px;
  background-color: #e5ede6;
  color: #2d3e45;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  margin-left: 200px;
}

.savebtn > input:focus {
  outline: none;
}

.savebtn > button {
  margin-left: 5px;
  background-color: #2d3e45;
  color: #EE933D;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.savebtn > button:hover {
  background-color: #c8433f;
  color: #2d3e45 !important;
}

@media (prefers-color-scheme: dark) {
  .markdown {
    background-color: #0d1117;
  }
}

@media (prefers-color-scheme: light) {
  .markdown {
    background-color: #ffffff;
  }
}